h1{
    padding-left: 20px;
}

#apresentacao {
   margin-left: 40px;
   margin-right: 40px;
    text-align: justify;
    color: black;
    border: grey 1px solid;
    padding-bottom: 400px;
    padding-left:10px;
    padding-right: 10px;
    
}

p {
    margin-bottom: 0;
   
}
p+p {
    
    margin-top: 0;
  
}