body {
    background-color: white;
}

#conteudo {
    margin-right: 2%;
}

button{
    margin-top: 5px;
    margin-left: 70px;
    
}
h1, h3, p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    text-indent: 0;
    margin-top: 1em;
}

iframe {
    width: 30vw;
    /*450px*/
    height: 50vh;
    /*350px*/
    border-radius: 5px;
}

#titulo {
    background-color: rgb(255, 255, 255);
    color: rgb(17, 17, 17);
    /* rgb(66, 59, 59);*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    padding-top: 4px;
    padding-left: 5%;
    letter-spacing: 5px;
    margin-bottom: 2px;
    width: 100%;
}

.corTitulo {
    color: rgb(197, 27, 14);
}

#menu {
    background-color: rgb(76, 52, 235);
    display: flex;
    padding: 10px;
    margin-bottom: 20px;
    justify-content: space-around;
    border-radius: 2px;
    width: 100%;
}

#menu a, a {
    text-decoration: unset;
    font-family: 'Montserrat', sans-serif;
}

#menu a {
    color: white;
    padding: 5px;
    border-radius: 5px;
}

#menu a:hover {
    color: white;
    box-shadow: 1px 10px 30px rgb(20, 20, 20);
}

#noticias {
    display: flex;
    width: 100%;
}

#textosVideos {
    margin-right: 1%;
    width: 80%;/*passivel de alteracao*/
    
}

#reportagem {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 2%;
    margin-right: 60px;
    margin-bottom: 10px;
}

.textoNoticia1 {
    border:gray 1px solid;
    margin-right: 40px;
    border-top-left-radius:10px ;
    border-top-right-radius:10px ;
   
}

.textoNoticia1 h4 {
    color:rgb(26, 26, 165);
    padding-top: 2px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
    
}

.textoNoticia1 img {
    width: 100%;
    border-top-left-radius:10px ;
    border-top-right-radius:10px ;
    

}

.textoNoticia2 {
    
    border:gray 1px solid;
    border-top-left-radius:10px ;
    border-top-right-radius:10px ;
    
}

.textoNoticia2 h4 {
    color:rgb(26, 26, 165);
    text-align: justify;
    padding-left: 8px;
    padding-right: 6px;
    
    
}

.textoNoticia2 img {
    width:100%;
    height: 250px;
    border-top-left-radius:10px ;
    border-top-right-radius:10px ;
           
}

#audios {
    background-color: grey;
    border-radius: 10px;
    height: 130vh;    /*850px;*/
    box-shadow: 2px 2px 2px black;
    width: 300px;
    
}

audio{
    width:100%;
}

#audios h1 {
    margin-left: 20px;
    color: black;
    font-family:monospace;
}

.audioNoticia {
    margin-left: 20px;
    padding-right: 15px;
    padding-top: 30px;
      
}

.audioNoticia h3{
    text-align: justify;        
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color:black;
}

#videos {
    justify-items: left;
    display: flex;
    margin-bottom: 15%;
    padding-right: 10px;
    padding-top: 5px;
}

.videoNoticia {
    margin-left: 50px;
}